/* Import de Roboto */
@font-face {
    font-family: "Roboto Medium";
    src: url('assets/font/fira/Roboto-Medium.ttf');
    font-weight: 100;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Roboto Medium";
    src: url('assets/font/fira/Roboto-MediumItalic.ttf');
    font-weight: 100;
    font-style: italic;
  }

@font-face {
    font-family: "Roboto Light";
    src: url('assets/font/fira/Roboto-Light.ttf');
    font-weight: 100;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Roboto Light";
    src: url('assets/font/fira/Roboto-LightItalic.ttf');
    font-weight: 100;
    font-style: italic;
  }

:root {
    --black: #000000;
    --blue: #379EC1;
    --green: #659224;    
  }


body{
    font-family: Roboto-Light;
}

img#logo{
    float: right;
    max-width: 100px;
}

img#idCard{
    max-width: 500px;
    float: right;
}

div#equipements{
    margin-top: 220px;
    text-align: center;
}
a.btn{
    background-color: var(--green);
    border-color: var(--black);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--black);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: var(--green);
    color: white;
    text-decoration: none;
  }

  h1, h2{
      margin-left: 10px;
      font-family: Roboto-Medium;
  }
  #listeStaff{
      margin-left: 15px;
  }

  #listeEquipements{
    margin-left: 15px;
  }

 #information > p{
    margin-left: 15px;
  }

  :link{
        text-decoration: none;
        color: var(--blue) !important;
        font-size: large;
  }